.slot-machine {
  position: fixed;
  z-index: 101;
  top: 50px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 18px;
}
.top-text-wrap {
  position: absolute;
  color: #fff;
  top: 105px; /* no */
  left: 50px; /* no */
  height: 28px; /* no */
  width: 232px; /* no */
  text-align: center;
  font-size: 16px; /* no */
  font-weight: 800;
  overflow: hidden;
}
.top-text-inner {
 
  transform: translate3d( 0, -50% ,0);
}
.text {
  height: 28px; /* no */
  line-height: 28px; /* no */
}
.slot-machine-lights-wrap {
  width: 287px; /* no */
  height: 160px; /* no */
  position: absolute;
  top: 147px; /* no */
  left: 30px; /* no */
  overflow: hidden;
}
.slot-machine-lights-wrap img {
  position: absolute;
  top: 0;
  left: 0;
	height: 160px; /* no */
  width: 287px;
}
.slot-machine-lights-wrap .slot-machine-lights-2 {
  left: 100%;
}

.slot-machine-container {
  position: relative;
  margin: auto;
  width: 390px; /* no */
  height: 413px; /* no */
}

.slot-machine-container-img {
  width: 390px; /* no */
  height: 473px; /* no */
}

.slot-board {
  position: absolute;
  top: 175px; /* no */
  left: 50px; /* no */
  width: 250px; /* no */
  height: 100px; /* no */
  display: flex;
  overflow: hidden;
}

.board-item {
  flex: 1;
  height: 100px;
  overflow: hidden;
}

.num-out-wrap {
  height: 1000px; /* no */
  position: relative;
  transform: translate3d(0, -90%, 0);
}

.num-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.num-out-wrap-slot {
  animation: slot-out 1.3s cubic-bezier(1, 0.06, 1, 0.44) 1;
}

.num-out-wrap-slot .num-wrap {
  animation: slot 0.3s 1.3s linear infinite;
}

.num {
  display: block;
  width: 80%;
  font-size: 28px; /* no */
  text-align: center;
  height: 100px; /* no */
  overflow: hidden;
  line-height: 100px; /* no */
  color: #7f483a;
}

.start-btn {
  width: 135px; /* no */
  height: 103px; /* no */
  background-image: url(https://j-image.missfresh.cn/de02a61ad4384ffda88fbc53d2bf10dd_1551362449956.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  border: none;
  background-color: transparent;
  background-size: 100%;
  position: absolute;
  left: 108px; /* no */
  bottom: 15px; /* no */
  font-size: 0;
}

.start-btn:active {
  background-image: url(https://j-image.missfresh.cn/d332faf979aa4b7686d562722391412e_1551362449992.png);
}
.close-btn {
  left: 20px; /* no */
}
.share-btn {
  right: 60px; /* no */
}
.other-button {
  position: absolute;
  border: none;
  background: none;
  opacity: 0.8;
  display: block;
  width: 58px; /* no */
  height: 50px; /* no */
  bottom: 80px; /* no */
}

.top-text-inner-animate {
  animation: text-scroll 0.3s ease;
}




@keyframes text-scroll {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes slot-out {
  0% {
    transform: translate3d(0, -90%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes slot {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate3d(0, -5%, 0);
  }
  80% {
    transform: translate3d(0, 1%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

.slot-machine-lights-animate-wrap {
  animation: light steps(1) 1s infinite;
}

@keyframes light {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
}